<h1>draw some heavy work with worker and offscrennCanvas</h1>
<div class="content">
  <div>
    <button (click)="doDrawEasy()">draw easy</button>
    <br>
    <canvas id="canvas2" width="400" height="400" style='border:1px solid #ccc;'></canvas>
  </div>
  <div>
    <button (click)="doDrawHevay()">draw heavy</button>
    <br>
    <canvas id="canvas1" width="400" height="400" style='border:1px solid #ccc;'></canvas>
  </div>
  <div>
    <button (click)="drawWithWorkerAndOffscreenCanvas()">draw heavy (use worker and offscreenCanvas)</button>
    <br>
    <canvas id="canvas3" width="400" height="400" style='border:1px solid #ccc;'></canvas>
  </div>
</div>