<nav>
  <a routerLink="/DemoWorkerTransableDataComponent">使用worker传输数据测试 | 2022.10.19</a>
</nav>

<nav>
  <a routerLink="/DemoWorkerDrawComponent">使用worker在后台绘制图像 | 2022.10.20</a>
</nav>

<nav>
  <a routerLink="/DemoWorkerDexieComponent">使用dexie和worker进行indexDB存储 | 2022.10.21</a>
</nav>

<nav>
  <a routerLink="/DemoWorkerPoolComponent">使用worker线程池 | 2022.11.1</a>
</nav>

<nav>
  <a routerLink="/DemoFormComponent">使用angular表单 | 2022.11.17</a>
</nav>

<nav>
  <a routerLink="/DemoQRCodeComponent">使用 angularx-qrcode | 2022.11.21</a>
</nav>

<router-outlet></router-outlet>